// $nav-width: 300px;
$navy: #000f38;
$tanzu-blue: #2D9BF0;
$main-color: $navy;

$body-background-color: white;
$body-text-color: $main-color;
$body-heading-color: $main-color;

// $sidebar-color: white;
$nav-child-link-color: $main-color;
$link-color: $main-color;

$feedback-color:  darken(white, 3%); /* Hover Color */


$font-size-7: 20px; /* Page Title Font Size */

